:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1512px;
  height: 1036px;
  margin: 0 auto;
  font-size: 0px;
  background: #ffffff;
  overflow: hidden;
}
.where-to-go {
  display: block;
  position: relative;
  height: 66px;
  margin: 298px 0 0 360px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 60px;
  font-weight: 700;
  line-height: 66px;
  text-align: left;
  white-space: nowrap;
}
.rectangle {
  position: relative;
  width: 999px;
  height: 114px;
  margin: 113px 0 0 256px;
  border: 2px solid rgba(0, 0, 0, 0.49);
  z-index: 5;
  border-radius: 69px;
}
.search-city-town {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 34px;
  top: 38px;
  left: 83px;
  color: rgba(0, 0, 0, 0.59);
  font-family: Inter, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.vector {
  position: absolute;
  width: 34.625px;
  height: 37.174px;
  top: 36.539px;
  left: 32.25px;
  background: url(./assets/images/d7b2cb97-43c9-484d-831b-eaaaa4430870.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 8;
}
.rectangle-button {
  position: relative;
  width: 207px;
  height: 58px;
  margin: 306px 0 0 1215px;
  cursor: pointer;
  background: #eb662b;
  border: none;
  z-index: 2;
  border-radius: 30px;
}
.next-span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 18px;
  left: 82px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.group-div {
  position: absolute;
  width: 1512px;
  height: 23px;
  top: 122px;
  left: 0;
  background: url(./assets/images/9d632c84-2be4-4cf9-8a93-0051c0bb4273.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
